@charset "UTF-8";

body{
    background-color: rgb(196, 255, 242);
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
}
#DIVaposta{
    background-color: rgb(164, 191, 192);
    height: 400px;
    width: 400px;
    margin: auto;
    border-radius: 5px;
    font-size: 1.8em;
    text-align: center;
}
#titulo{
    font-size: 1.4em;
    padding-top: 5%;
}
#rs{
    font-size: 1.5em;
}
#txtNum{
    width: 100px;
    height: 40px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    margin: 20px 2px 20px 20px;
}
#DIVresultado{
    margin: auto;
    height: 240px;
    width: 380px;
    background-color: aliceblue;
}
footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
}