@charset "UTF-8";

body{
    background-color: rgb(196, 255, 242);
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
}
#DIVaposta{
    background-color: rgb(67, 71, 71);
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.8em;
    text-align: center;
    color: white;
}
#titulo{
    font-size: 1.4em;
    padding-top: 5%;
}
#txtNum{
    width: 100px;
    height: 40px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    margin: 20px 2px 20px 20px;
}
#DIVAvancar{
    margin: auto;
    height: 240px;
    width: 380px;
    background-color: rgb(20, 36, 51);
}
#botaoAvancar{
    width: 25%;
    margin: 5%;
}
#numero{
    width: 20%;
}
footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
}